.about-me {
  min-height: 300px;
  padding: 20px 50px;
  color: $text;
  background: $backgroundnav;

  h3 {
    font-size: 2rem;
    padding-bottom: 30px;
    letter-spacing: 1px;
    transition: opacity 0.7s ease, transform 0.7s ease;
  }
  p {
    transition: opacity 1s ease, transform 1s ease; // Ajoute un délai de 0.2s avant de commencer la transition de transform
    font-size: 1.2rem;
    letter-spacing: 0.7px;
  }
}
.dark-mode .about-me {
  color: $textdark;
  background: $backgrounddark1;
}

@media screen and (max-width: 650px) {
  .about-me {
    p {
      font-size: 1rem;
    }
  }
}
