.about-me {
  min-height: 300px;
  padding-left: 50px;
  color: $text;
  h3 {
    font-size: 2rem;
    padding-bottom: 30px;
    letter-spacing: 1px;
  }
  p {
    animation: slide linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: cover 70%;
    font-size: 1.3rem;
    letter-spacing: 0.7px;
  }
}
