.accueil {
  height: 100vh;
  color: $text;
  background: $background;

  .accueil-container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    align-items: center;
    .accueil-txt {
      padding-left: 50px;

      h2 {
        font-size: 9vmin;
      }
      h3 {
        font-size: 5vmin;
      }
      p {
        font-size: 3vmin;
        margin-top: 20px;
      }
    }
    button {
      border: 1px solid black;
      background: $background;
      display: flex;
      margin-top: 40px;
      font-size: 1rem;
      border-radius: 20px;
      position: absolute;
      bottom: 180px;
      left: 50%;
      transform: translate(-50%);
      z-index: 3;

      :hover {
        border-radius: 20px;
        box-shadow: 0 7px 30px -5px $borderDark;
      }
      a {
        font-size: 1.3rem;
        padding: 8px 16px;
        border-radius: 10px;
        color: $text;
      }
    }

    .accueil-logo {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
      }
      #logo1 {
        position: absolute;
        // filter: brightness(0%);
        filter: grayscale(100%) brightness(44%) sepia(500%) hue-rotate(154deg);
      }
      #logo2 {
        opacity: 0.6;
        position: absolute;
        filter: grayscale(100%) brightness(38%) sepia(500%) hue-rotate(154deg)
          blur(1px);
      }
      #logo3 {
        opacity: 0.4;
        position: absolute;
        filter: grayscale(100%) brightness(35%) sepia(500%) hue-rotate(154deg)
          blur(2px);
      }
      #logo4 {
        transform: scale(0.75);
        opacity: 0.2;
        position: absolute;
        filter: grayscale(100%) brightness(32%) sepia(500%) hue-rotate(154deg)
          blur(3px);
      }
    }
  }
}

.dark-mode .accueil {
  background: $backgrounddark;
  color: $textdark;
  .accueil-container {
    button {
      &:hover {
        background: $component;
      }
      a {
        button {
          border-radius: 10px;
          a {
            background: #664282;
            color: $textdark;
          }
        }
      }
    }

    .accueil-logo {
      #logo1 {
        position: absolute;

        filter: grayscale(100%) brightness(70%) sepia(500%) hue-rotate(140deg);
      }
      #logo2 {
        opacity: 0.6;
        position: absolute;
        filter: grayscale(100%) brightness(60%) sepia(500%) hue-rotate(140deg)
          blur(1px);
      }
      #logo3 {
        opacity: 0.4;
        position: absolute;
        filter: grayscale(100%) brightness(40%) sepia(500%) hue-rotate(140deg)
          blur(2px);
      }
      #logo4 {
        transform: scale(0.75);
        opacity: 0.2;
        position: absolute;
        filter: grayscale(100%) brightness(30%) sepia(500%) hue-rotate(140deg)
          blur(3px);
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .accueil {
    .accueil-container {
      button {
        box-shadow: 0 7px 30px -5px $borderDark;

        a {
          font-size: 1rem;
        }
      }
    }
  }
}
