.contact-me {
  margin-top: 20px;
  color: $text;

  ::placeholder {
    color: $text;
  }
  .visible {
    transform: translate(0px);
    transition: opacity 1.7s ease, transform 1.8s ease;
    opacity: 1;
  }
  h3 {
    transform: translate(-150px);
    transition: opacity 1.7s ease, transform 1.8s ease;
    opacity: 0;
    padding-bottom: 50px;
    padding-left: 50px;
    font-size: 2rem;
  }
  input {
    font-family: $font-2;
    border: 1px solid $border;
    border-radius: 22px;
    opacity: 0.75;
    padding: 22px 30px;
    height: 50px;
    background: $backgroundnav;
    color: $text;
  }
  textarea {
    font-family: $font-2;
    border: 1px solid $border;
    resize: none;
    border-radius: 22px;
    opacity: 0.75;
    padding: 22px 30px;
    color: $text;
  }
  form.visible {
    transform: translateY(0px);
    transition: opacity 1.7s ease, transform 1.8s ease;
    opacity: 1;
  }
  form {
    transform: translate(200px);
    transition: opacity 1.7s ease, transform 1.8s ease;
    opacity: 0;
    display: grid;
    align-items: center;
    width: 50%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 20% 45% 15%;
    grid-template-areas:
      "name email"
      "objet objet"
      "message message"
      "submit submit";

    gap: 20px;
    #nom {
      grid-area: name;
      width: 100%;
    }
    #email {
      grid-area: email;
      width: 100%;
    }
    #objet {
      grid-area: objet;
      width: 100%;
    }
    #message {
      grid-area: message;
      width: 100%;
      padding-bottom: 50px;
    }
    #submit {
      grid-area: submit;
      display: flex;
      padding: 10px 20px;
      &:hover {
        cursor: pointer;
        box-shadow: 0 7px 30px -5px $borderDark;
      }
    }
  }
  padding-bottom: 100px;
  input:focus,
  textarea:focus {
    border: 2px solid $borderfocus;
  }
}
.dark-mode .contact-me {
  h3 {
    color: $textdark;
  }
  input {
    border: 1px solid $borderDark;
    box-shadow: 0 10px 30px -5px $borderDark;
    background: $backgrounddark1;
    color: $textdark;
  }
  textarea {
    border: 1px solid $borderDark;
    box-shadow: 0 10px 30px -5px $borderDark;
    background: $backgrounddark1;
    color: $textdark;
  }
  ::placeholder {
    color: $textdark;
  }
  input:focus,
  textarea:focus {
    border: 2px solid $borderfocusdark;
  }
}

@media screen and (max-width: 950px) {
  .contact-me {
    form {
      width: 70%;
      gap: 10px;
    }
  }
}
@media screen and (max-width: 600px) {
  .contact-me {
    form {
      #submit {
        padding: 7px 20px;
      }
    }
  }
}

