.nav {
  display: grid;
  grid-template-columns: 10% 78% 5% 7%;
  padding: 25px 0;
  align-items: center;
  position: fixed;
  width: 100%;
  background: $backgroundnav;
  color: $text;
  z-index: 5;

  .nav-home {
    text-align: center;
    h5 {
      padding: 4px 8px;
      border-radius: 10px;
      margin-left: 15px;
      font-size: 1.2rem;
    }
    :hover {
      background: $component;
    }
  }
  .nav-section {
    width: 100%;
    ul {
      display: flex;
      justify-content: space-around;
      padding: 0 30px;
      align-items: center;
      margin: 0 auto;

      li {
        padding: 4px 8px;
        border-radius: 10px;
      }

      :hover {
        background: $component;
      }
    }
  }
  .nav-language {
    text-align: center;
    h5 {
      padding: 4px 8px;
      border-radius: 10px;
    }
    :hover {
      background: $component;
    }
  }
  button {
    font-size: 1.2rem;
    display: flex;
    background: black;
  }
}

.dark-mode {
  .nav {
    border-bottom: 1px solid grey;
  }
  .nav-home {
    h5:hover {
      background: #3d224e;
    }
  }
  .nav-section ul li:hover {
    background: #3d224e;
  }
  .nav-language {
    h5:hover {
      background: #3d224e;
    }
  }
  button {
    background: #1e1523;
    color: #d19dff;

    :hover {
      background-color: #8e719e;
    }
  }
}
.dark-mode {
  .nav {
    background: $backgrounddarknav;
    color: #d19dff;
  }
}
