.nav {
  display: grid;
  grid-template-columns: 10% 78% 5% 7%;
  padding: 25px 0;

  .nav-home {
    text-align: center;
    h5 {
      padding: 4px 8px;
      border-radius: 10px;
    }
    :hover {
      background: $component;
    }
  }
  .nav-section {
    width: 100%;
    ul {
      display: flex;
      justify-content: space-around;
      padding: 0;

      li {
        padding: 4px 8px;
        border-radius: 10px;
      }

      :hover {
        background: $component;
      }
    }
  }
  .nav-language {
    text-align: center;
    h5 {
      padding: 4px 8px;
      border-radius: 10px;
    }
    :hover {
      background: $component;
    }
  }
}

.dark-mode {
  .nav-home {
    h5:hover {
      background: #3d224e;
    }
  }
  .nav-section ul li:hover {
    background: #3d224e;
  }
  .nav-language {
    h5:hover {
      background: #3d224e;
    }
  }
  button {
    background: #1e1523;
    color: #d19dff;
    border: 1px solid #54346b;
    :hover {
      background-color: #8e719e;
    }
  }
}
