@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/AtkinsonHyperlegible-Regular.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(../assets/fonts/RocknRollOne-Regular.ttf);
}

$font-1: "font-1", sans-serif;
$font-2: "font-2", serif;

$background: #def7f9; //
$component: #b5e9f0; //5
$text: #107d98; //last
$hovertext: #7dcedc;
$hoverdark: #003848;
$backgrounddark: #0b161a; //1.
$backgrounddark1: #101b20; //#101b20;
$textdark: #4ccce6; // after last
$backgroundnav: #f2fafb; //2
$backgrounddarknav: #0b161a; //2 .
$borderDark: #11809c; //Cyan7
$border: #7dcedc; //cyan 7
$borderfocus: #00a2c7;
$borderfocusdark: #4ccce6;
@keyframes reveal {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
}
body,
html {
  overflow-x: hidden;
}
.dark-mode {
  background-color: $backgrounddark;
  color: $textdark;
}
body {
  background: $background;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-1;
  letter-spacing: 1px;
}
p,
a,
li,
div {
  font-family: $font-2;
  letter-spacing: 0.7px;
}
